@page
@model CoreCMS.CategoryModel
@{
    ViewData["Title"] = "Category";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Categories</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Homepage</a></li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" style="width:100%;" class="display nowrap table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Category Name</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var buttons = "<a href=\"#\" class=\"btn btn-success btn-sm\">OK</a>";
        buttons += "<a href=\"#\" class=\"btn btn-danger btn-sm\">DEL</a>";

        $('#datatable').DataTable({
            data: @Json.Serialize(Model.Category),
            columns: [
                { data: 'index' },
                { data: 'categoryName' },
                { data: 'status' },
                { data: 'categoryId', render: function (data) { return buttons; }, orderable: false, class:'text-center' }
            ]
        });
    });
</script>