@page
@model CoreCMS.IndexModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <span class="lstick m-r-20"></span>
                            <i class="mdi mdi-star" style="font-size:40px;color:#398bf7;"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Service</h6>
                            <h2 class="m-t-0">@Model.CategoryCount</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <span class="lstick m-r-20"></span>
                            <i class="mdi mdi-tree" style="font-size:40px;color:#398bf7;"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Category</h6>
                            <h2 class="m-t-0">0</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <span class="lstick m-r-20"></span>
                            <i class="mdi mdi-table" style="font-size:40px;color:#398bf7;"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Product</h6>
                            <h2 class="m-t-0">0</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>